body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #30353d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  width: 400px;
}

blockquote.twitter-tweet p {
  font: normal 14px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

blockquote.twitter-tweet img {
    height: 30px;
    width: 30px;
}

.about {
    font: normal 16px Georgia, "Times New Roman", Palatino, serif;
    color: #969696;
}

.about h2{
    text-decoration: underline;
    color: #969696;
}

.summary {
    margin-bottom: 20px;
}

.cody p, .amir p, .tyler p {
    margin-top: 10px;
}