<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "About Page";
}

<div class="about">
<head>
    <h2>Cyberboard Project</h2>
</head>
	<body>
    <div class="summary">
	    <p>This project was created by Cody Worsnop, Amir Behmaram, and Tyler Frasca
	       of the University of Nevada Reno for their CS 151 class.</p>
		<p>The main purpose of the website is to search twitter for tweets 
		   relating to cybersecurity or cyber attacks so people have an easy way 
		   stay up to date on recent cyber attacks.</p>
	</div>
    <div class="content">
		    <div class="cody">
                <h3>Cody Worsnop:</h3>
				<img src="/Views/Images/cody.png" width="300" height="300">
                <p>Cody did basically all of this, I don't even know why Tyler's or my name is on this.</p>
			</div>
            <div class="amir">
                <h3>Amir Behmaram:</h3>
				<img src="/Views/Images/Amir.png" width="300" height="300">
                <p>Literally only contributed this atrocious about page. He apologizes for the shit html and css.</p>
            </div>
			<div class="tyler">
                <h3>Tyler Frasca</h3>
				<img src="/Views/Images/Tyler.jpg" width="300" height="300">
                <p>Tyler has been missing for the last 2 weeks, Nancy is worried about his safety.</p>
            </div>
    </div>
	</body>
</div>